main > section:nth-child(1) {
    background: $color-red;
    text-align: center;
    font-weight: bold;
    font-size: 40px;

    .santa {
        width: 120px;
        height: 120px;
        margin: 180px auto 20px;
        border-radius: 50%;
        background: #fff url(assets/images/santa.svg) center center no-repeat;
        background-size: 60% 60%;
    }
    p {
        margin: 0;
        padding: 0;
    }

    .csstransitions & {
        &.show {
            transition: opacity 0.5s;
            opacity: 0;
            .santa {
                transition: transform 0.3s ease 1s;
                transform: scale(0);
            }
            p {
                transition: transform 0.3s ease 1.2s;
                transform: scale(1, 0);
            }
        }
        &.show-active {
            opacity: 1;
            .santa {
                transform: scale(1);
            }
            p {
                transform: scale(1);
            }
        }
        &.hide {
            display: block;
            .santa {
                transition: transform 0.3s ease 0.4s;
                transform: scale(1);
            }
            p {
                transition: transform 0.3s ease 0.2s;
                transform: scale(1);
            }
        }
        &.hide-active {
            .santa {
                transform: scale(0);
            }
            p {
                transform: scale(1, 0);
            }
        }
    }
}