main > section:nth-child(2) {
    background: url(assets/images/aurora.jpg) -56px -100px no-repeat;

    canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        &.back {
            z-index: 1;
            filter: blur(6px);
        }
        &.front {
            z-index: 20;
            filter: blur(2px);
        }
    }
    .tree {
        position: relative;
        z-index: 2;
        margin: 240px auto 0;
        width: 280px;
        height: 280px;
        background: url(assets/images/tree.svg) center center no-repeat;
        background-size: 100%;
    }

    article {
        display: none;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 40px;
        padding: 70px;

        &.show {
            display: block;
        }
        &.hide {
            display: none;
        }

        .lead {
            text-transform: uppercase;
            font-size: 22px;
            font-weight: 200;
        }
        p {
            margin: 0 0 10px 0;
        }

        &.contact {
            padding-left: 230px;
            padding-right: 230px;
            font-size: 14px;
            .person {
                position: relative;
                z-index: 2;
                border-radius: 50%;
                width: 130px;
                height: 130px;
                margin-right: 20px;
                float: left;
            }
            .bubble {
                position: relative;
                z-index: 1;
                background: rgba(255,255,255,0.6);
                color: $color-gray-dark;
                padding: 15px 30px 15px 130px;
                font-size: 30px;
                margin-left: -100px;
                margin-top: 20px;
            }
            p {
                float: left;
                padding-left: 30px;
                strong {
                    color: $color-purple;
                    font-weight: normal;
                }
            }

            &.contact-cr .person {
                background-image: url(assets/images/cr.jpg);
            }
            &.contact-mv .person {
                background-image: url(assets/images/mv.jpg);
            }
        }

        .csstransitions.csstransforms & {
            &.show {
                & > * {
                    transition: opacity 0.5s, transform 0.8s;
                    opacity: 0;
                    transform: translateX(1000px);
                }
                @for $i from 1 through 5 {
                    & > *:nth-child(#{$i}) {
                        transition-delay: 0.2s * ($i - 1), 0.2s * ($i - 1);
                    }
                }
            }
            &.show-active > * {
                opacity: 1;
                transform: none;
            }
            &.hide {
                display: block;
                & > * {
                    transition: opacity 0.5s, transform 0.8s;
                    opacity: 1;
                    transform: none;
                }
                @for $i from 1 through 5 {
                    & > *:nth-child(#{$i}) {
                        transition-delay: 0.2s + 0.2s * ($i - 1), 0.2s * ($i - 1);
                    }
                }
            }
            &.hide-active > * {
                opacity: 0;
                transform: translateX(-1000px);
            }
        }
    }

    .csstransitions & {
        &.show {
            transition: opacity 5s;
            opacity: 0;
        }
        &.show-active {
            opacity: 1;
        }
    }
}