@import "vendor/scut";
@import "vendor/normalize";

@import "variables";

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    color: #fff;
    background: $color-red-dark;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24 / 16;
     -webkit-font-smoothing: antialiased;
}

main {
    position: relative;
    width: 962px;
    height: 542px;
    border: 1px solid #999;
    margin: 50px auto 15px;
    overflow: hidden;

    & > section {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &.show {
            display: block;
        }
        &.hide {
            display: none;
        }
    }
}

body > footer {
    text-align: center;
    font-size: 12px;
}

@import "sections/1.scss";
@import "sections/2.scss";